# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.head(10)

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548
5,1995-05-01,84409.14932,53042.24852,90258.00033,63997.13588,73704.04743,81542.61561,119929.2782,68844.9169,82077.05525,...,44223.61973,44830.98563,45878.00396,50369.66188,56479.80183,75432.02786,64530.36358,54698.83831,NaN,53678.24041
6,1995-06-01,94900.51244,53700.34831,90107.23471,64252.32335,74310.48167,82382.83435,121887.4625,69052.51103,81630.66181,...,44112.96432,45392.63981,45679.99539,50100.43023,56288.94557,75606.24501,65511.008,54420.15939,NaN,53735.15475
7,1995-07-01,110128.0423,52113.12157,91441.24768,63722.70055,74127.03788,82898.52264,124027.5768,69142.48112,82352.2226,...,44109.58764,45534.99864,46037.67312,49860.00809,57242.30186,75984.24079,65224.88465,54265.86368,NaN,53900.60633
8,1995-08-01,112329.4376,52232.19868,92361.31512,64432.60005,73547.0411,82054.37156,125529.8039,68993.42545,82706.65927,...,44193.66583,45111.45939,45922.53585,49598.45969,56732.40547,75529.34488,64851.60429,54365.71495,NaN,53600.31975
9,1995-09-01,104473.1096,51471.61353,93273.12245,64509.54767,73789.54287,81440.43008,120596.8511,69393.50023,82011.08271,...,44088.07696,44837.86023,45771.66321,49319.69715,56259.28635,74940.80872,64352.47119,54243.98694,NaN,53309.2331

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [4]:
df = properties.transpose()
df.head()

,0,1,2,3,4,5,6,7,8,9,...,306,307,308,309,310,311,312,313,314,315
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,882872.1038,786626.6665,827658.5167,798499.1646,825741.8194,770971.9595,794277.0501,762756.6049,744323.5882,864353.5338
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,300526.2859,304555.5886,304923.5027,301702.4656,304763.6014,305052.8104,310281.2864,314068.1054,319588.7141,317184.7975
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,518175.0457,523279.8903,529660.1524,533619.23,529762.3013,530930.9087,533160.1771,541621.6878,536096.0398,534005.4666
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,340893.0807,344091.2308,346679.9244,345061.4945,345458.6847,347115.9985,353710.4793,358242.6956,361861.3566,367014.6063
Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,484159.9118,482303.0931,497729.0327,519561.8277,521251.3469,512271.0532,495230.52,508184.2874,513426.445,510532.7941
Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,...,425444.1926,428557.2475,433422.5529,435059.5551,438365.9497,446070.0216,455443.4492,459231.9815,461772.937,463226.493
Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,...,837718.8375,807904.3593,824742.2295,839031.823,826733.3687,818996.7686,799707.7587,816544.3502,820737.9968,796441.8986
Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,...,372413.7578,377278.4015,374029.6601,377322.4452,377155.9086,381267.3768,381462.2562,386804.4878,389486.9505,385345.3301
Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,...,463423.6569,466117.1379,483810.1893,490927.7747,492737.901,495730.2602,496607.473,499463.3694,497977.0355,490426.1105
Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,...,385347.4851,386064.7204,397144.6805,399741.7122,405961.5964,405703.8597,413058.8666,418295.7115,416895.3845,428256.8174
Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,...,387217.703,386101.2206,389491.0014,399103.6966,400711.6254,405693.9916,403273.9056,409863.0671,412010.2131,416305.5648
Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,...,571464.3811,584128.3138,584803.5943,607149.738,596393.5355,597193.6807,586533.0848,601147.8181,602496.6537,604465.6234
Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,...,718768.3367,748436.6942,758825.1121,752481.0114,734429.5455,739251.3872,726874.1645,740878.3685,728181.6131,804516.589
Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,...,546375.636,547777.8493,565432.092,570180.4805,586554.6077,582786.4675,586211.7018,593078.6177,593325.8298,607029.0477
Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,...,441942.1538,445805.319,452524.2946,454162.7856,459345.0256,466269.6704,473905.0722,475632.2769,480006.282,479416.7999
Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,...,371147.6294,373192.0561,375067.0321,373311.9564,371731.2009,374372.8478,378460.7195,382254.1491,385328.4851,390902.1986
Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,...,403039.4927,408572.9547,410160.5501,410313.6412,414511.6067,417042.3644,426714.7983,426607.5292,428205.7433,419408.083
Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,...,394693.4323,394813.4581,407761.4209,418843.3232,423637.2231,427243.3495,426113.6286,432037.3564,429200.4745,423196.9733
Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,...,641491.7384,656970.6723,678740.7757,691113.9478,691884.9069,675228.881,660155.3587,686588.6942,689965.3366,682485.3668
Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,...,1300968.375,1321046.625,1344349.768,1347732.643,1309244.566,1322480.263,1341825.358,1335986.738,1265639.277,1332133.627
Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,...,478539.6609,484774.953,497936.3958,499977.6186,498418.7078,495782.8322,499815.6744,506885.4165,503585.5456,511317.8018
Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,...,520302.7685,538635.0375,538243.3082,544458.117,543609.2364,544878.7062,538503.4191,543874.3597,533049.0867,530046.2077
Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,...,422938.6652,422336.1904,421910.1543,427228.6325,434644.8743,440720.3653,440121.8053,444958.6327,445112.692,432500.3988
Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,...,519173.5713,524382.9388,528416.8149,525931.4742,541102.9798,548093.7296,553989.1943,556417.6801,555453.1341,557445.3557
Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,...,371624.4664,375328.0887,374037.2593,368466.9133,374898.1152,378268.0382,387241.9926,386677.421,392522.0456,378861.74
Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,...,412781.3525,417394.2257,420140.3519,427270.4524,429978.2088,437533.3069,444825.2541,458143.898,460038.8628,454415.3704
Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,...,701624.763,695227.8373,688623.5668,689690.238,689687.3699,692018.96,695834.9176,703136.6742,695310.805,690985.2275
Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,...,509472.7086,508673.5997,506554.3156,510642.8023,515911.1518,526972.5113,540155.1923,541087.9001,526823.5322,508423.3645
Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,...,371087.8049,373184.064,378301.2131,381404.5753,385121.4308,390584.1669,393659.6895,395535.5955,399333.7901,395397.0897
Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,...,445196.9908,444565.0852,454849.8542,467584.3014,475916.6355,472567.6923,469124.8607,462095.5231,468038.8834,496246.715
Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,...,447790.0528,443867.3722,449509.609,450747.785,464738.5695,470486.5441,472941.9976,475368.194,479291.5422,490895.1588
Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,...,596641.4874,597440.7879,611665.4591,630857.4308,627595.5815,622903.8392,609769.234,609596.6794,603480.4116,598279.4347
Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,135993.0705,...,957831.0096,917264.2977,981247.5684,941113.8842,909857.0696,902651.2922,910766.0323,943264.1927,949257.9177,927993.3354
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,80402.85,...,576728.6099,579693.5638,588876.4917,595535.3247,595937.2515,596053.7353,593906.374,598986.1832,594986.1362,595920.9717
Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,73454.44292,...,423807.8922,426273.1492,431208.8779,434299.4286,437101.0296,440483.1978,444190.3374,449184.2224,450513.6741,450711.8767
Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,41850.85646,...,128964.2033,130808.0212,131489.725,135362.9866,135578.6313,138308.2153,139671.0312,140635.6887,141634.3412,145892.9001
NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,44088.07696,...,168962.9244,171215.3338,173942.3313,174192.28,178198.3233,179337.7862,183160.0276,182120.7855,185725.7486,187924.1369
YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,44837.86023,...,168095.7058,169204.1222,171633.8869,172109.6371,175279.2267,179289.6131,180259.9417,181692.2763,182363.175,188574.7483
EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,45771.66321,...,199049.3845,200701.257,201350.8212,202269.5488,205701.128,208841.9822,211461.6244,211884.6146,215930.4417,219950.1714
WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,49319.69715,...,202037.6347,203669.6884,205465.5236,207557.9134,209679.5975,211908.1469,215421.8431,214105.9576,216989.5001,220982.1142
EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,56259.28635,...,291578.4756,292737.5947,296927.7325,300531.5527,300216.4062,302366.7505,307780.1491,308452.0474,311431.746,315059.1882
LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,74940.80872,...,478922.0948,483145.6046,488557.1748,492983.253,487501.9464,496536.0529,499007.6508,502652.1259,495402.2587,500310.1362
SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,64352.47119,...,322171.8325,325885.7689,329549.8357,332371.6618,333762.4754,338718.5987,341090.8236,341982.4267,345483.3565,348615.2004
SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,54243.98694,...,259493.3119,264554.1113,265726.014,270737.2643,272516.3092,275203.5798,279222.691,278722.6704,280372.7523,287649.7245
Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,53309.2331,...,250850.8318,253481.5843,256134.6892,258544.5629,260625.6275,264077.0814,267363.3526,267675.2146,269976.0467,274615.3652

In [5]:
index_labels = properties.iloc[0,:]
cols_labels = properties.iloc[:,0]
temp = df.index

In [6]:
df.columns = cols_labels
df.index = index_labels
df.iloc[:,0] = temp
df = df.drop(df.index[:1])
df.head()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01,2021-01-01,2021-02-01,2021-03-01
0,,,,,,,,,,,,,,,,,,,,,
E09000001,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,882872.1038,786626.6665,827658.5167,798499.1646,825741.8194,770971.9595,794277.0501,762756.6049,744323.5882,864353.5338
E09000002,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,300526.2859,304555.5886,304923.5027,301702.4656,304763.6014,305052.8104,310281.2864,314068.1054,319588.7141,317184.7975
E09000003,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,518175.0457,523279.8903,529660.1524,533619.23,529762.3013,530930.9087,533160.1771,541621.6878,536096.0398,534005.4666
E09000004,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,340893.0807,344091.2308,346679.9244,345061.4945,345458.6847,347115.9985,353710.4793,358242.6956,361861.3566,367014.6063
E09000005,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,484159.9118,482303.0931,497729.0327,519561.8277,521251.3469,512271.0532,495230.52,508184.2874,513426.445,510532.7941

In [7]:
df.index.names = ['code']
df.columns = ['area'] + df.columns[1:].tolist()
df.head()

,area,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
code,,,,,,,,,,,,,,,,,,,,,
E09000001,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,882872.1038,786626.6665,827658.5167,798499.1646,825741.8194,770971.9595,794277.0501,762756.6049,744323.5882,864353.5338
E09000002,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,300526.2859,304555.5886,304923.5027,301702.4656,304763.6014,305052.8104,310281.2864,314068.1054,319588.7141,317184.7975
E09000003,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,518175.0457,523279.8903,529660.1524,533619.23,529762.3013,530930.9087,533160.1771,541621.6878,536096.0398,534005.4666
E09000004,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,340893.0807,344091.2308,346679.9244,345061.4945,345458.6847,347115.9985,353710.4793,358242.6956,361861.3566,367014.6063
E09000005,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,484159.9118,482303.0931,497729.0327,519561.8277,521251.3469,512271.0532,495230.52,508184.2874,513426.445,510532.7941

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [8]:
df.index.names = ['code']
df.columns = ['area'] + df.columns[1:].tolist()
df.head()

,area,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00
code,,,,,,,,,,,,,,,,,,,,,
E09000001,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,882872.1038,786626.6665,827658.5167,798499.1646,825741.8194,770971.9595,794277.0501,762756.6049,744323.5882,864353.5338
E09000002,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,300526.2859,304555.5886,304923.5027,301702.4656,304763.6014,305052.8104,310281.2864,314068.1054,319588.7141,317184.7975
E09000003,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,518175.0457,523279.8903,529660.1524,533619.23,529762.3013,530930.9087,533160.1771,541621.6878,536096.0398,534005.4666
E09000004,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,340893.0807,344091.2308,346679.9244,345061.4945,345458.6847,347115.9985,353710.4793,358242.6956,361861.3566,367014.6063
E09000005,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,484159.9118,482303.0931,497729.0327,519561.8277,521251.3469,512271.0532,495230.52,508184.2874,513426.445,510532.7941

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!